.portfolio-item {
  position: absolute;
  width: 45%;
  height: 45%;
  transition: 0.3s ease-in-out;
}

.portfolio-item .background-overlay {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.portfolio-item:hover .background-overlay {
  background-color: transparent;
}

.portfolio-item.position-1 {
  left: 5%;
  top: 2%;
}

.portfolio-item.position-2 {
  background-color: green;
  left: 52.5%;
  top: 2%;
}

.portfolio-item.position-3 {
  background-color: red;
  left: 5%;
  top: 52.5%;
}

.portfolio-item.position-4 {
  background-color: yellow;
  left: 52.5%;
  top: 52.5%;
}

.background {
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 5s ease-in-out;
}

.background:hover {
  background-position: bottom;
}
