@keyframes movingdown {
  from {
    padding-top: 0%;
  }

  50% {
    padding-top: 10%;
  }

  to {
    padding-top: 20%;
  }
}
  
@keyframes movingDownSlower {
    from {
      padding-top: 0%;
    }
  
    50% {
      padding-top: 3.5%;
    }
    
  
    to {
      padding-top: 6%;
    }
  }
    
  
