.App {
  height: 100vh;
  position: relative;
  background-color: black;
  color: white;
  overflow: hidden;
}

svg {
  height: 80px;
  width: 100px;
  color: white;
  stroke-width: 0.5;
  stroke: white;
}

/* button */
.button-label {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.button-left {
  top: 45.5%;
  left: 4%;
  transform: rotate(90deg);
  z-index: 1;
}

.button-right {
  top: 45.5%;
  right: 4%;
  transform: rotate(-90deg);
  z-index: 1;
}

.button-bottom {
  bottom: 4%;
  left: 45.5%;
  z-index: 1;
}

.button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button-bottom:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-left:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-right:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-label {
  transition: all 0.5s ease-in-out;
}

.button:hover {
  color: #707070;
}

/* .button-left:hover {
  transform: rotate(90deg) translate(0px, -10px);
} */

/* .button-right:hover {
  transform: rotate(-90deg) translate(0px, -10px);
} */

.button-left:hover .button-label {
  transform: rotate(-90deg);
  padding-left: 80px;
}

.button-right:hover .button-label {
  transform: rotate(90deg);
  padding-right: 100px;
}

.button-bottom:hover {
  transform: translate(0, -10px);
}

/* areas */

.area {
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: 2;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#contact-area {
  background-color: darkcyan;
  width: 80%;
  left: -80%;
  height: 100vh;
}

#portfolio-area {
  background-color: #5d236b;
  width: 100%;
  right: -100%;
  height: 100vh;
}

#discover-area {
  background-color: #134d55;
  width: 100%;
  top: 100vh;
  height: 30vh;
}

#discover-area.open {
  top: 70vh;
}

#portfolio-area.open {
  right: 0;
}

#contact-area.open {
  left: 0;
}

.area svg {
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#contact-area svg {
  right: 5%;
  top: 45.5%;
  /* top: 5%; */
  transform: rotate(90deg);
  z-index: 3;
}

#portfolio-area svg {
  left: 1.5%;
  /* top: 5%; */
  top: 45.5%;
  transform: rotate(-90deg);
}

#portfolio-area svg:hover {
  left: 2%;
}

#discover-area svg {
  right: 48.5%;
  top: 5%;
}

#discover-area svg:hover {
  top: 6%;
}

#contact-area svg:hover {
  right: 6%;
}

/* Discover */

#discover-area .main-text {
  font-size: 3.5em;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: -2;
  align-items: center;
}

/* Contact */

#contact-area .section-wrapper {
  /* padding: 10% 15%; */
  padding: 5% 5%;
}

#contact-area i {
  font-size: 3.2rem;
  color: rgb(179, 235, 26);
  padding-right: 1rem;
}

#contact-area .section-wrapper a {
  /* display: block; */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.2em;
  align-items: baseline;
  justify-content: flex-start;
  width: 90%;
}

#contact-area .section-wrapper .line {
  position: absolute;
  bottom: -1rem;
  width: 0;
  /* right: 15%;
  left: 15%; */
  left: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

#contact-area .section-wrapper a:hover + .line {
  width: 50%;
}

#contact-area .section-wrapper h3 {
  letter-spacing: 0.3rem;
}

#contact-area .section-wrapper {
  font-size: 1.5rem;
}

