.App {
  height: 100vh;
  position: relative;
  background-color: black;
  color: white;
  overflow: hidden;
}

svg {
  height: 80px;
  width: 100px;
  color: white;
  stroke-width: 0.5;
  stroke: white;
}

/* button */
.button-label {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

.button-left {
  top: 45.5%;
  left: 4%;
  transform: rotate(90deg);
}

.button-right {
  top: 45.5%;
  right: 4%;
  transform: rotate(-90deg);
}

.button-bottom {
  bottom: 4%;
  left: 45.5%;
}

.button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button-bottom:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-left:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-right:hover svg {
  animation: movingdown 1300ms linear 0.5s infinite;
  animation-iteration-count: infinite;
  animation-name: movingdown;
}

.button-label {
  transition: all 0.5s ease-in-out;
}

.button:hover {
  color: #707070;
}

/* .button-left:hover {
  transform: rotate(90deg) translate(0px, -10px);
} */

/* .button-right:hover {
  transform: rotate(-90deg) translate(0px, -10px);
} */

.button-left:hover .button-label {
  transform: rotate(-90deg);
  padding-left: 80px;
}

.button-right:hover .button-label {
  transform: rotate(90deg);
  padding-right: 100px;
}

.button-bottom:hover {
  transform: translate(0, -10px);
}

/* areas */

.area {
  transition: all 1s ease-in-out;
  position: absolute;
}

.section-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#contact-area {
  background-color: #2070c0;
  width: 30%;
  left: -30%;
  height: 100vh;
}

#portfolio-area {
  background-color: #5d236b;
  width: 100%;
  left: -100%;
  height: 100vh;
}

#discover-area {
  background-color: #134d55;
  width: 100%;
  top: 100vh;
  height: 30vh;
}

#discover-area.open {
  bottom: 0;
}

#portfolio-area.open {
  left: 0;
}

#contact-area.open {
  left: 0;
}

.area svg {
  position: absolute;
  cursor: pointer;
}

#contact-area svg {
  right: 5%;
  top: 45.5%;
  transform: rotate(90deg);
}

#portfolio-area svg {
  left: 5%;
  top: 45.5%;
  transform: rotate(-90deg);
}

#discover-area svg {
  right: 45.5%;
  top: 5%;
}

#contact-area svg:hover {
  animation: movingDownSlower 1500ms linear 0s infinite;
  animation-iteration-count: infinite;
  animation-name: movingDownSlower;
}
